{% extends 'account/base-account.html' %} {% block form_content %}
<div class="container" style="max-width: 30%; min-width: 30rem; margin: auto;">
    <div class="text-center rounded-3 bg-white border border-light shadow mt-5">
        <h4 class="p-3 mt-3">{{ header }}</h4>
        <hr>
        <form class="p-3 text-muted" method="post" action="{% url 'registration' %}">
            {% csrf_token %} {% for field in form %} {% if field.id_for_label == 'id_password1' %}
            <br> {% endif %}
            <div class="form-floating mb-2">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="form-error text-start text-danger">{{ field.errors }}</div>
            </div>
            {% endfor %}
            <button class="btn btn-outline-success mt-3" type="submit ">Зарегистрироваться</button>
        </form>
    </div>
    {% endblock %}