{% extends 'account/base-account.html' %} {% block form_content %}
<div class="container" style="max-width: 20%; min-width: 20rem; margin: auto;">
    <div class="text-center rounded-3 bg-white border border-light shadow mt-5">
        <h4 class="p-3  mt-3">{{ header }}</h4>
        <hr>
        <form class="p-3" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-error text-start text-danger">{{ form.non_field_errors }}</div>
            {% for field in form %}
            <div class="mb-3">
                <div>
                    <label class="mb-3" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}
                </div>
                <div class="form-error text-start text-danger">{{ field.errors }}</div>
            </div>
            <!-- <div class="form-floating mb-2">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="form-error text-start text-danger">{{ field.errors }}</div>
            </div> -->
            {% endfor %}
            <!-- <div class="form-error ">{{ form.errors }}</div> -->
            <button class="btn btn-outline-success " type="submit ">Войти</button>
        </form>
        <!-- {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %} ">Lost password?</a></p> -->
        <p><a href="{% url 'forgot-password' %}">Забыли пароль?</a></p>
    </div>
</div>
{% endblock %}