{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/">

    <!-- Favicon -->
    <link rel='icon' href="{% static 'project/img/favicon.ico' %}" type='image/x-icon' sizes="16x16" />

    <!-- Project JS -->

    <script type="text/javascript" src="{% static '/project/js/home-page.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static '/project/css/project.css' %}" rel="stylesheet">

    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="/">Project AIDE</a> -->
            <a class="navbar-brand" href="/">{{ name_application }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %} 
                    {% if name_page == 'private_page' %}
                    <li id="user_profile_item" class="nav-item active_menu_item">
                        <a class="nav-link" aria-current="page" href="{% url 'user-profile' slug=user.username %}">Моя панель</a>
                    </li>
                    {% else %}
                    <li id="user_profile_item" class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'user-profile' slug=user.username %}">Моя панель</a>
                    </li>
                    {% endif %} 
                    {% endif %}
                </ul>
                <div class="text-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-2">
                            <span id="time_container" class="nav-link me-2"></span>
                        </li>
                        <li><span class="nav-link active">Пользователь:</span></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item me-4">
                            <a id='username_field' class="nav-link active" href="{%url 'user-profile' slug=user.username%}">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" href="{% url 'logout' %}" class="btn btn-outline-danger me-2">Выйти</a>
                        </li>
                        {% else %}
                        <li class="nav-item me-4">
                            <a class="nav-link active" href="{% url 'login' %}">Гость</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" href="{% url 'registration' %}" class="btn btn-outline-success me-2">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" href="{% url 'login' %}" class="btn btn-outline-success me-2">Войти</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main role="main">
        {% block page_content %} {% endblock %}
    </main>
    {% block script %}{% endblock %} {% block name_page %}{% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->

</body>

</html>